node_modules
.next/
.next/cache/webpack/client-development/0.pack
.next/react-loadable-manifest.json
.DS_Store
.env
.env.development.local
.env.production.local
awsConfigution.ts
out/anhnnen01.jpg
out/backgr2.jpg
out/FIB_token.jpg
out/home-img.jpg
out/image-1.jpg
out/image-2.jpg
out/image-3.jpg
out/image.png
out/ito.jpg
out/Ito01.jpg
out/nakamoto.jpg
out/namakoto01.jpg
out/roadmap.png
out/takahashi.jpg
out/takahashi01.jpg
out/taro.jpg
out/taro01.jpg
out/yuki.jpg
out/Yuki01.jpg
out/_next/static/chunks/62-b4cc6913339f9616.js
out/_next/static/chunks/75fc9c18-1d86b0fc03733381.js
out/_next/static/chunks/253-4ca14ba235f53df8.js
out/_next/static/chunks/598-a311e2938d921c87.js
out/_next/static/chunks/675-b0ade5064eeb77c9.js
out/_next/static/chunks/783-83e0b53a95eb92e4.js
out/_next/static/chunks/2852872c-24258fb2a46c4bf6.js
out/_next/static/chunks/framework-467b11a89995b152.js
out/_next/static/chunks/main-e08435b940fa3340.js
out/_next/static/chunks/pages/_app-b60169a2434c27be.js
out/_next/static/chunks/pages/_error-a59e2db023c5e431.js
out/_next/static/chunks/pages/404-a3073acc8ba9bc1f.js
out/_next/static/chunks/pages/admin-22e66542b4ab764b.js
out/_next/static/chunks/pages/ecosystem-7abac4ffedde45bd.js
out/_next/static/chunks/pages/home-2626f91ae8219c1b.js
out/_next/static/chunks/pages/index-79cae95a70858eb2.js
out/_next/static/chunks/pages/login-73dcce9ee8004d05.js
out/_next/static/chunks/pages/order-2f6a54cbbc046292.js
out/_next/static/chunks/pages/overview-161a271af0df7128.js
out/_next/static/chunks/pages/register-25884b12524a7fbf.js
out/_next/static/chunks/pages/vision-5d96172e6d0a6c1a.js
out/_next/static/chunks/pages/whitebook-13e4ea6226918f11.js
out/_next/static/css/9c344356457689cc.css
out/_next/static/wBclGXnEb1emixypLTofR/_buildManifest.js
out/_next/static/wBclGXnEb1emixypLTofR/_ssgManifest.js
out/admin/index.html
out/ecosystem/index.html
out/login/index.html
out/overview/index.html
out/register/index.html
out/vision/index.html
out/whitebook/index.html
