node_modules
.next/
.next/cache/webpack/client-development/0.pack
.next/react-loadable-manifest.json
.DS_Store
awsConfigution.ts
.env
.env.development.local
.env.production.local
out
out/index.html
out/404.html
out/favicon.ico
out/home-img.svg
out/image-1.svg
out/image-2.svg
out/image-3.svg
out/index.html
out/404/index.html
out/_next/static/chunks/62-4e2a18887db9e741.js
out/_next/static/chunks/75fc9c18-b8a23cd7b79544b6.js
out/_next/static/chunks/781-37f2fe1f608f4d7e.js
out/_next/static/chunks/2852872c-75f21e17eebb074c.js
out/_next/static/chunks/framework-0c7baedefba6b077.js
out/_next/static/chunks/main-1f9ff73988916284.js
out/_next/static/chunks/pages/_app-1169d8e225bdc8b1.js
out/_next/static/chunks/pages/_error-ee5b5fb91d29d86f.js
out/_next/static/chunks/pages/404-b48d5e40dc560138.js
out/_next/static/chunks/pages/home-85d52c4b96acc69d.js
out/_next/static/chunks/pages/index-bf77556d0d7c26dd.js
out/_next/static/chunks/pages/order-7345b5b5c827fd9b.js
out/_next/static/css/1a90f22dad8dd6f4.css
out/_next/static/zYuJeogDZJmOwc_nQJm1z/_buildManifest.js
out/_next/static/zYuJeogDZJmOwc_nQJm1z/_ssgManifest.js
out/home/index.html
out/order/index.html
out/home/index.html
out/order/index.html
out/order/index.html
