.App {
  //style
}

.main {
  // display: flex;
  flex-direction: column;
  padding: 1rem;
}
.App_Main {
  //style
}

.App_Container {
  //style
}

.Container {
  //style
}

.actived {
  margin-left: 15%;
}
